* {
    padding: 0;
    margin: 0;
    background-color: #F3F3F3;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

.menu {
    font-family: 'Nunito';
    background-color: #ffffff;
    width: 200px;
    height: 960px;
    display: flex;
    margin-top: 1px;
    flex-direction: column;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.menu h4 {
    background-color: transparent;
    margin: 64px 18px 30px 18px;
    font-size: 20px;
}

.brand {
    background-color: #ffffff;
    width: 199px;
    height: 64px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    margin-right: 1px;
}

.brand img {
    background-color: transparent;
    margin: 17px 8px;
}


.homepage {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    margin: 18px 18px;
}

.homepage a {
    text-decoration: none;
    color: black;
    background: #ffffff;
}

.homepage img,
.members img {
    background-color: #ffffff;
    margin-right: 8px;
}

.members a {
    text-decoration: none;
    color: black;
    background-color: #ffffff;
}

.members {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    margin: 0px 18px
}

a.active {
    color: #024FD1;
}

.article {
    display: flex;
}

.header {
    display: flex;
    font-family: 'Nunito';
}

.text-heading {
    background-color: #ffffff;
    margin-left: 1px;
    box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.25);
    width: 1184px;
}

.text-heading h2 {
    background-color: transparent;
    text-align: center;
    margin-top: 16px;
}

.create {
    font-family: 'Nunito';
    margin: 48px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create h2 {
    margin-bottom: 36px;
}

.card-view {
    border-radius: 50px;
    background-color: #E0E1E3;
    width: 445px;
    height: 800px;
}

.form-input {
    display: flex;
    flex-direction: column;
    margin: 24px auto;
    width: 306px;
    background-color: #E0E1E3;

}

.form-input label {
    background-color: transparent;
    font-size: 18px;
    margin-top: 24px;
}

.form-input input {
    background-color: #ffffff;
    height: 49px;
    border: none;
    font-size: 20px;
}

button.btn-primary {
    text-align: center;
    padding: 8px 5px;
    font-size: 24px;
    color: #ffffff;
    background-color: #024FD1;
    border: none;
    margin-top: 24px;
}

.tabel-members {
    display: flex;
    flex-direction: column;
    margin: 48px auto;
    align-items: center;
    font-family: 'Nunito';
    width: 80%;
}

table,
th,
td {
    border: 1px solid black;

}

table {
    margin: 36px 0;
    width: 100%;
}

th {
    background-color: #DBDBDB;
    color: black
}

td {
    background-color: #ffffff;
}

th,
td {
    padding: 5px;
    text-align: left;
}

.login {
    display: flex;
    justify-content: center;
    width: 1366px;
    height: auto;
    font-family: 'Nunito';
    margin: 0;
    padding: 0;
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 195px auto;
    width: 683px;
}

.form-login h1 {
    font-size: 64px;
    font-weight: 600;
}

.form-login input {
    width: 400px;
    height: 50px;
    font-size: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-login button.btn-primary {
    width: 400px;
}

.text-login {
    display: flex;
    flex-direction: column;
    width: 683px;
    height: auto;
    background-color: #024FD1;
    color: #ffffff;
    justify-content: center;
}

.text-login h1 {
    width: 452px;
    font-size: 64px;
    font-weight: 600;
    background-color: transparent;
    margin: 0 auto;
}

.text-login p {
    width: 452px;
    line-height: 150%;
    font-size: 24px;
    background-color: transparent;
    margin: 24px auto;
}
